/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: rgb(var(--bs-tertiary-color-rgb));
}

.navbar-custom {  
		background-color: #0B2A9B;  
}  

.navbar-custom .navbar-brand,  
.navbar-custom .navbar-text {  
		color: #fff;  
}  


h1.entry-title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 60px;
}
			
h1.entry-title span {
	border-bottom: solid 6px #F7CA13;
	padding: 0 15px;
}

.entry:not(.entry.no-height) {
	min-height: 100vh;
	padding: 140px 0 70px 0;
}

.entry h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}

.entry p {
	color: #000;
	margin-bottom: 0;
}


a {
  color: #ffc107;
	text-decoration: none;
}

a:hover {
	color: #fd7e14;
}

/* FEATURES */

feature {
	
}

.feature-icon {
	padding: 10px;
	background-color: #eee;
}

.feature-icon img {
	border-radius: 10px;
}

.feature h3 {
	font-size: 20px;
}

.feature p {
	margin-bottom: 25px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
#home-carousel {
  margin-bottom: 4rem;
	height: 100vh;
	background: url("./assets/section1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
#home-carousel .carousel-inner {
	height: 100vh;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: -40px;
  z-index: 10;
}

#home-carousel .inner {
	background-color: rgba(0,0,0,0.4);
	padding: 20px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}

.icons {
	color: #aaa;
	margin-top: 15px;
}
.icons i {
	margin-right: 15px;
	font-size: 20px;
}

/* rtl:end:remove */

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
